<div class="container">
    <div class="hero">
        <h1 class="hero_text">Disburse payouts easily and fast</h1>
        <div class="cta">
            <a href="#" class="send_trigger" id="trigger_popup">Send payouts</a>
        </div>
    </div>

    {{!-- pop contianer --}}

    <div class="popup_container">
        <div class="nav_controls">
            <div id="back_nav">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                    height="16">
                    <path fill-rule="evenodd"
                        d="M9.78 12.78a.75.75 0 01-1.06 0L4.47 8.53a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 1.06L6.06 8l3.72 3.72a.75.75 0 010 1.06z">
                    </path>
                </svg>
            </div>
            <div class="topic">
                <p class="topic_text">Send Payouts</p>
            </div>
            <div id="close_nav">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                    height="16">
                    <path fill-rule="evenodd"
                        d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z">
                    </path>
                </svg>
            </div>
        </div>
        <div class="onboard">
            <div class="onboard_text">
                Add receipents to send payouts to.
            </div>
        </div>
        <div class="users"></div>
        <div class="onboard_user">
            <button class="add_receipent">
                Add receipent
            </button>
        </div>
        <div id="form_container">
            <div id="demo_form">
                <div class="input_wrapper">
                    <label for="username">Username</label><br>
                    <input type="text" id="username" placeholder="biggaji">
                </div>
                <div class="input_wrapper">
                    <label for="amount">Amount</label><br>
                    <input type="text" id="amount" placeholder="100000">
                </div>
                <button class="add_user" type="button">
                    Add
                </button>
            </div>
                <div class="btn_wrapper">
                    <button id="submit_payouts" disabled=true>Send</button>
                </div>
        </div>

        {{!-- response container --}}
        <div class="response_container">
            <div class="success_response">
                <div class="success_logo">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                        height="16">
                        <path fill-rule="evenodd"
                            d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z">
                        </path>
                    </svg>
                </div>
                <p id="success_message">Payout sent successfully</p>
                <p class="summary">Payout Summary</p>
                <div id="payout_receivers"></div>
            </div>
            <div class="error_response">
                <div class="error_logo">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                        height="16">
                        <path fill-rule="evenodd"
                            d="M8.22 1.754a.25.25 0 00-.44 0L1.698 13.132a.25.25 0 00.22.368h12.164a.25.25 0 00.22-.368L8.22 1.754zm-1.763-.707c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0114.082 15H1.918a1.75 1.75 0 01-1.543-2.575L6.457 1.047zM9 11a1 1 0 11-2 0 1 1 0 012 0zm-.25-5.25a.75.75 0 00-1.5 0v2.5a.75.75 0 001.5 0v-2.5z">
                        </path>
                    </svg>
                </div>
                <p id="error_message">Failed to send payouts, please retry.</p>
                <p id="reason"></p>
                
                {{!-- retry --}}
                <div class="retry">
                    <button id="retry_payout">Retry</button>
                </div>
            </div>
        </div>

        <div id="spinner">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                viewBox="0 0 38 38" stroke="tomato" id="loading_indicator">
                <g fill="none" fill-rule="evenodd">
                    <g transform="translate(1 1)" stroke-width="2.5">
                        <circle stroke-opacity=".5" cx="18" cy="18" r="18" />
                        <path d="M36 18c0-9.94-8.06-18-18-18">
                            <animateTransform attributeName="transform" type="rotate"
                                from="0 18 18" to="360 18 18" dur="1s"
                                repeatCount="indefinite" />
                        </path>
                    </g>
                </g>
            </svg>
        </div>
    </div>
</div>