*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.3;
    letter-spacing: 0.025rem;
    }

:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

@font-face {
    font-family: Gordita;
    src: url('./gordita.ttf');
}

$Gordita:  Gordita, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

body {
    width: 100%;
    height: auto;
    font-family: $Gordita;
}
.container {
    width: 100%;
    height: auto;
    .hero {
        width: 100%;
        height: 60vh;
        padding: 0 0.3rem;
        margin: 3rem 0 1rem 0;
        .hero_text {
            margin: 4rem 0 3rem 0;
            font-size: 2.3rem;
            text-align: center;
        }
        .cta {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2rem 0 0.7rem 0;
            .send_trigger {
                display: block;
                width: 180px;
                text-align: center;
                text-decoration: none;
                color: #fff;
                padding: 10px 7px;
                background-color: tomato;
                border-radius: 2px;
                font-weight: 600;
            }
        }
    }

    // popup
    .popup_container {
        width: 100%;
        height: 80vh;
        display: none;
        position: absolute;
        background-color: #fff;
        z-index: 3;
        left: 0;
        right: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transition: transform 2s ease-in-out 9s;
        transform: translateY(0%);
        .nav_controls {
            width: 100%;
            height: auto;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .topic {
                .topic_text {
                    font-weight: 700;
                }
            }
            #back_nav {
                visibility: hidden;
            }
            svg {
                padding: 4px;
                width: 28px;
                height: 28px;
                background-color: rgba(0,0,0, 0.02);
                fill: tomato;
                border-radius: 100%;
                cursor: pointer;
            }
        }
        .onboard {
            width: 100%;
            text-align: center;
            margin: 0.5rem 0;
            .onboard_text {
                font-size: 0.9rem;
            }
        }
        .onboard_user {
            width: 90%;
            margin: 0 auto;
        .add_receipent {
                width: 100%;
                padding: 10px;
                background-color: tomato;
                color: #fff;
                border: none;
                border-radius: 5px;
                margin: 1rem 0;
                font-weight: 600;
                font-size: 0.9rem;
                border: none;
                font-family: $Gordita;
                cursor: pointer;
            }
        }
        .users {
            width: 90%;
            margin: 0.4rem auto;
            padding: 10px;
            p {
                font-weight: 500;
                font-size: 0.9rem;
                margin: 0.3rem 0;
            }
        }
        #form_container {
            // display: none;
            width: 90%;
            height: auto;
            margin: 1rem auto;
            #demo_form {
                display: none;
                .input_wrapper {
                    width: 100%;
                    label {
                        margin: 0.5rem 0;
                        font-size: 0.9rem;
                        font-weight: 600;
                        color: tomato;
                    }
                    input {
                        width: 100%;
                        margin: 0.5rem 0;
                        padding: 10px;
                        outline: none;
                        color: black;
                        border-radius: 5px;
                        font-weight: 600;
                        font-family: $Gordita;
                    }
                }
            }
            .add_user {
                width: 100%;
                padding: 10px;
                background-color: tomato;
                color: #fff;
                border: none;
                border-radius: 5px;
                margin: 1rem 0;
                font-weight: 600;
                font-size: 0.9rem;
                border: none;
                font-family: $Gordita;
                cursor: pointer;
            }
            .btn_wrapper {
                width: 100%;
                #submit_payouts {
                    padding: 10px;
                    width: 100%;
                    background-color: tomato;
                    color: #fff;
                    border-radius: 5px;
                    margin: 1rem 0;
                    font-weight: 600;
                    font-size: 0.9rem;
                    font-family: $Gordita;
                    border: none;
                }
            }
        }
        .response_container {
            display: none;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 90%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 10;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: #fff;
            .success_response {
                width: 100%;
                display: none;
                height: auto;
                .success_logo {
                    display: flex;
                    justify-content: center;
                    svg {
                        fill: green;
                        width: 40px;
                        height: 40px;
                        padding:5px;
                        background-color: rgba(245, 116, 93, 0.1);
                        border-radius: 100%;
                    }
                }
                #success_message {
                    width: 100%;
                    text-align: center;
                    margin: 1rem 0;
                }
                .summary {
                    text-align: center;
                    font-weight: 600;
                }
                #received {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                    margin: 1rem 0;
                    #payout_receivers {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        .payout_div {
                            display: flex;
                            width: 100%;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            .check_img {
                                width: 16px;
                                height: 16px;
                                margin-right: 0.2rem;
                            }
                            .summary_logs {
                                // width: 100%;
                                font-size: 0.9rem;
                                margin: 0.4rem 0.2rem 0.4rem 0;
                            }
                        }
                    }
                }
            }
            .error_response {
                width: 100%;
                height: 100%;
                display: none;
                .error_logo {
                     display: flex;
                    justify-content: center;
                    svg {
                        fill: red;
                        width: 40px;
                        height: 40px;
                        padding:5px;
                        background-color: rgba(245, 116, 93, 0.1);
                        border-radius: 100%;
                    }
                }
                #error_message {
                    width: 100%;
                    text-align: center;
                    margin: 1rem 0;
                }
                #reason {
                    width: 100%;
                    text-align: center;
                    margin: 1rem 0;
                }
                .retry {
                    width: 90%;
                    margin: 1rem auto;
                    #retry_payout {
                        width: 100%;
                        padding: 10px;
                        background-color: tomato;
                        color: #fff;
                        border: none;
                        border-radius: 5px;
                        font-weight: 600;
                        font-size: 0.9rem;
                        border: none;
                        font-family: $Gordita;
                        cursor: pointer;
                    }
                }
            }
        }
        #spinner {
            width: 100%;
            position: absolute;
            background-color: #fff;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            z-index: 6;
            height: 100%;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: none;
            justify-content: center;
            align-items: center;
            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}
